exportPattern("^[[:alpha:]]+")

useDynLib(Bclim)

importFrom(MASS,kde2d)
importFrom(mclust,Mclust,mclustBIC)
importFrom(statmod,rinvgauss)
importFrom(graphics,filled.contour)

S3method(plot,climate_histories)
S3method(plot,layer_clouds)
S3method(summary,climate_histories)

